<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/form_style.css">
</head>
<body>
{%include 'nav.html'%}

{%include 'flash.html'%}
    <div class="wrapper">
      <div class="circle circle1"></div>
      <div class="circle circle2"></div>
      <div class="form">
        <h1>ورود به صفحه کاربری</h1>
        <form action="/login" method="POST">
          <input type="text"  placeholder="نام کاربری " name="username" required />
          <input type="password"  name="password"  placeholder=" رمز عبور" required/>
          <button type="submit">ورود</button>
          <div class="forgot-signup">
            <a href="/register"> ثبت نام</a>
          </div>
        </form>
      </div>
    </div>
</body>
</html>